body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif; 
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.h1-subtitle{
    font-size: 18px;
    color: #e5e7eb;
}

h4 {
    font-size: 24px;
    color: #F9FAF8;
}

.home-header {
    background-color: #1F2937;
}

.sign-up-button {
    background-color: #3882F6;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 900;
}

.sign-up-button-two {
    background-color: #3882F6;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 900;
    border: 2px solid #e5e7eb;
}

.image-description{
    font-size: 18px;
}

.quote-div {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}

/* Container for all images */
.image-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

/* Individual image blocks */
.image-block {
    text-align: center; /* Center-align the description text */
    width: 300px; /* Set a consistent width */
}

/* Images themselves */
.image-block img {
    width: 100%; /* Make image fill the block width */
    height: 70%; /* Maintain the aspect ratio */
    border-radius: 8px; /* Optional: Rounded corners for aesthetics */
    object-fit: cover; /* Ensures no distortion */
    overflow: clip;
}

/* Descriptions */
.image-block p {
    margin-top: 10px;
    font-size: 16px;
}

.call-to-action {
    background-color: #3882F6;
    color: #e5e7eb;    
}

.home-footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #e5e7eb;
}